* {
  margin: 0;
  border: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.5;
  -moz-box-sizing: border-box;
  tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  -webkit-touch-callout: none;       /* Prevent callout to copy images.   */
  -webkit-text-size-adjust: none;    /* Prevent webkit from fitting text. */
  -webkit-overflow-scrolling: touch; /* Prevent jank while scrolling.     */
  -ms-touch-action: none;         /* Disable behaviors like pan and zoom. */
  -ms-content-zooming: none;
}

body,
td,
th,
var,
button,
input,
select,
textarea {
  font-size: 16px;
  font-family: HelveticaNeue, Roboto, Helvetica, 'Droid Sans', Arial;
  font-weight: 400;
  line-height: 1.5em;
  outline: none;
}

a {
  color: #06c;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

b {
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 16px 0;
}

::-webkit-input-placeholder {
  color: #bcd;
}

:-moz-placeholder { /* Firefox 18- */
  color: #bcd;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #bcd;
}

:-ms-input-placeholder {
  color: #bcd;
}

#top {
  background: #0ae;
  padding: 16px;
}

#logo {
  color: #fff;
}

#side {
  position: fixed;
  top: 72px;
  bottom: 0;
  padding: 16px;
  border-right: 1px solid #ddd;
  width: 200px;
  overflow: scroll;
}

#side>a {
  padding: 4px 0;
}

#content {
  margin-left: 220px;
}

#form {
  padding: 16px;
}

.post {
  display: block;
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.when {
  color: #789;
  font-size: 16px;
}

.right {
  float: right;
}

form {
  display: block;
  padding: 16px;
}

.field {
  margin: 8px 0;
}

button {
  background: #06c;
  color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
}

input, textarea, select {
  border: 1px solid #789;
  padding: 2px 4px;
  margin: 2px 0;
}

textarea {
  width: 100%;
}

*[type=hidden] {
  display: none;
}
